body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(background.png);
  }
  
  .container {
    max-width: 400px;
    margin: 180px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  